In [1]:
# Code concept for data ingestion tool

In [3]:
import mysql.connector

In [22]:
mydb = mysql.connector.connect(
  host="",
  user="",
  password="",
  database=""
)

In [32]:
try:
    readDB()
except:
    createTable()
    insertRows()

('Peter', 1)
('Amy', 2)
('Hannah', 3)
('Michael', 4)
('Sandy', 5)
('Betty', 6)
('Richard', 7)
('Susan', 8)
('Vicky', 9)
('Ben', 10)

In [31]:
def insertRows():
    mycursor = mydb.cursor()
    sql = "INSERT INTO sample_db (name, number) VALUES (%s, %s)"
    val = [
  ('Peter', 1),
  ('Amy', 2),
  ('Hannah', 3),
  ('Michael', 4),
  ('Sandy', 5),
  ('Betty', 6),
  ('Richard', 7),
  ('Susan', 8),
  ('Vicky', 9),
  ('Ben', 10)
]
    mycursor.executemany(sql, val)
    mydb.commit()
    print(mycursor.rowcount, "records were inserted.")
    mycursor.close()

In [13]:
def createTable():
    mycursor = mydb.cursor()
    mycursor.execute("CREATE TABLE sample_db (name VARCHAR(255), number SMALLINT(255))")
    print('table created')
    mycursor.close()

In [21]:
def readDB():
    mycursor = mydb.cursor()
    mycursor.execute("SELECT * FROM sample_db")

    myresult = mycursor.fetchall()

    for x in myresult:
        print(x)
    mycursor.close()

In [24]:
def delDB():
    mycursor = mydb.cursor()
    mycursor.execute("DROP TABLE sample_db")
    print('table dropped')
    mycursor.close()