In [1]:
# the purpose of this notebook is to transform the data 
# that gets presented for visualisations, in the future
# this should become its own node/img

In [132]:
import pandas as pd
import re
from collections import Counter

In [3]:
df = pd.read_csv('common_passwords.csv')

In [4]:
df

,password,length,num_chars,num_digits,num_upper,num_lower,num_special,num_vowels,num_syllables
0,123456,6,0,6,0,0,0,0,1
1,password,8,8,0,0,8,0,2,2
2,12345678,8,0,8,0,0,0,0,1
3,qwerty,6,6,0,0,6,0,1,3
4,123456789,9,0,9,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...
9995,caca,4,4,0,0,4,0,2,2
9996,c2h5oh,6,4,2,0,4,0,1,1
9997,bubbles1,8,7,1,0,7,0,2,2
9998,brook,5,5,0,0,5,0,2,1
9999,brady,5,5,0,0,5,0,1,1

In [5]:
viz1 = df.sort_values(by=['password'], ascending=True)

In [6]:
viz1 = viz1[['password', 'length']]

In [7]:
viz1

       password  length
4745      *****       5
7020     ******       6
3332  0.0.0.000       9
2154    0.0.000       7
190        0000       4
...         ...     ...
2914       zzzz       4
3279      zzzzz       5
355      zzzzzz       6
5548    zzzzzzz       7
1855   zzzzzzzz       8

[10000 rows x 2 columns]

In [8]:
Viz2 = df

In [9]:
Viz2 = Viz2['password']

In [10]:
Viz2

0          123456
1        password
2        12345678
3          qwerty
4       123456789
          ...
9995         caca
9996       c2h5oh
9997     bubbles1
9998        brook
9999        brady
Name: password, Length: 10000, dtype: object

In [83]:
def findseq(instr):
    temp = re.findall(r'\d+', instr)
    nums = []
    
    if not temp:
        return False
        
    for i in temp[0]:
        nums.append(int(i))
    if len(nums) < 3:
        return False
    i = 0
    matches = 0
    while i < 2:
        if nums[i] + 1 == nums[i+1]:
            matches = matches + 1
        i = i+1
        
    if matches >= 2:
        return True
    
    i = 1
    matches = 0
    while i < 3:
        if nums[-i] + 1 == nums[-i-1]:
            matches = matches + 1
        i = i+1
    
    if matches >= 2:
        return True
    
    return False

In [84]:
viz2list = []
for i in Viz2:
    viz2list.append(findseq(i))

In [89]:
Viz2 = viz2list

In [91]:
Viz3 = df

In [93]:
Viz3 = Viz3[['num_chars', 'num_digits']]

In [94]:
Viz3

      num_chars  num_digits
0             0           6
1             8           0
2             0           8
3             6           0
4             0           9
...         ...         ...
9995          4           0
9996          4           2
9997          7           1
9998          5           0
9999          5           0

[10000 rows x 2 columns]

In [95]:
num_chars_total = Viz3['num_chars'].sum()
num_digits_total = Viz3['num_digits'].sum()

In [97]:
print(num_chars_total)
print(num_digits_total)

50303
16176

In [98]:
Viz4 = df

In [101]:
Viz4 = Viz4[Viz4['num_vowels'] > 0]

In [110]:
test = 'password'
vowels = ['a','e','i','o','u','y']

In [113]:
def getvowels(lists):
    vowels = ['a','e','i','o','u','y']
    letters = []
    for i in lists:
        for i2 in i:
            if i2 in vowels:
                letters.append(i2)
    return letters

In [118]:
v4 = getvowels(Viz4['password'])

In [121]:
Viz4 = v4

In [122]:
ac = Viz4.count('a')
ec = Viz4.count('e')
ic = Viz4.count('i')
oc = Viz4.count('o')
uc = Viz4.count('u')
yc = Viz4.count('y')

In [126]:
Viz5 = df

In [129]:
startLetters = []
for i in Viz5['password']:
    startLetters.append(i[0])

In [130]:
startLetters

['1',
 'p',
 '1',
 'q',
 '1',
 '1',
 '1',
 '1',
 '1',
 'd',
 '1',
 'w',
 'a',
 'f',
 'm',
 'l',
 '6',
 's',
 'm',
 '6',
 'q',
 '1',
 'm',
 '1',
 'm',
 '6',
 'p',
 's',
 '1',
 '7',
 'a',
 '1',
 '0',
 'q',
 '1',
 'k',
 't',
 'j',
 'j',
 'z',
 'a',
 'h',
 'b',
 's',
 'h',
 'b',
 'a',
 't',
 's',
 'i',
 'f',
 '2',
 'c',
 'r',
 't',
 'h',
 'r',
 'd',
 's',
 'k',
 '1',
 'g',
 'a',
 'c',
 'm',
 'j',
 'p',
 'e',
 'z',
 '5',
 '1',
 '1',
 'f',
 '7',
 'p',
 'f',
 'm',
 '1',
 'a',
 'g',
 'p',
 'j',
 'c',
 'a',
 's',
 'l',
 'a',
 '6',
 'n',
 'c',
 'b',
 'm',
 'a',
 'y',
 '9',
 'd',
 'a',
 't',
 't',
 'm',
 'w',
 'c',
 'h',
 'm',
 'h',
 's',
 'Y',
 'm',
 'd',
 '1',
 'g',
 'h',
 's',
 '2',
 '8',
 'a',
 'j',
 't',
 'b',
 'q',
 'p',
 'i',
 's',
 'o',
 '1',
 'g',
 'c',
 'r',
 's',
 'b',
 'g',
 'j',
 'w',
 'm',
 'c',
 's',
 's',
 'm',
 'p',
 'c',
 's',
 'p',
 'm',
 'w',
 'f',
 'c',
 'f',
 's',
 'a',
 's',
 's',
 'j',
 'm',
 'd',
 'a',
 'e',
 'm',
 'b',
 'b',
 's',
 'n',
 'm',
 't',
 'y',
 'x',
 '1',
 'g',
 'm',
 'd',
 'b',
 'q',
 'c',
 'p',
 'h',
 'b',
 'j',
 'h',
 '1',
 'p',
 'l',
 'i',
 'm',
 'c',
 '9',
 'l',
 't',
 '9',
 'n',
 'c',
 's',
 '0',
 'm',
 'b',
 'q',
 'f',
 'b',
 'y',
 'c',
 'm',
 'f',
 'j',
 'e',
 '3',
 'o',
 'r',
 'p',
 'n',
 'k',
 'f',
 'b',
 'm',
 'p',
 'b',
 'c',
 'b',
 'i',
 's',
 'r',
 'c',
 'a',
 'f',
 'b',
 'r',
 'w',
 'b',
 'j',
 'e',
 'r',
 'c',
 's',
 'w',
 'a',
 'v',
 'n',
 '1',
 'j',
 'w',
 'p',
 'p',
 'm',
 'g',
 'f',
 'c',
 'c',
 'j',
 '2',
 'r',
 '8',
 'm',
 'g',
 'a',
 'c',
 '8',
 '1',
 's',
 'g',
 'b',
 'b',
 '8',
 'p',
 'l',
 'a',
 'b',
 's',
 't',
 'a',
 'm',
 'w',
 's',
 'm',
 't',
 'b',
 'j',
 'c',
 's',
 'P',
 'a',
 'd',
 't',
 'r',
 '1',
 'p',
 'q',
 '5',
 'q',
 'm',
 'j',
 'm',
 'c',
 'j',
 'l',
 'd',
 'd',
 '1',
 'j',
 '1',
 '1',
 '7',
 't',
 'h',
 'a',
 's',
 'q',
 '1',
 'b',
 'c',
 'p',
 'd',
 's',
 'q',
 'b',
 'a',
 '1',
 'b',
 's',
 '1',
 'c',
 'n',
 'r',
 'n',
 'j',
 '1',
 'r',
 'v',
 'r',
 'b',
 'a',
 '1',
 's',
 'p',
 'g',
 'd',
 'w',
 's',
 'h',
 'q',
 'v',
 'f',
 'd',
 'p',
 'c',
 't',
 'b',
 'l',
 't',
 'b',
 'd',
 'm',
 'p',
 'j',
 'l',
 'n',
 'u',
 't',
 'm',
 'z',
 'n',
 'j',
 's',
 's',
 'p',
 'm',
 'e',
 'g',
 'j',
 'h',
 'r',
 's',
 'd',
 'm',
 '4',
 'x',
 'w',
 '1',
 'q',
 '1',
 'a',
 'm',
 'l',
 'a',
 '7',
 's',
 'a',
 'b',
 'a',
 '1',
 's',
 '5',
 'w',
 's',
 'b',
 'g',
 'b',
 'v',
 'd',
 'd',
 '2',
 'j',
 'c',
 'f',
 '2',
 'c',
 '1',
 's',
 'r',
 '1',
 'a',
 'r',
 'b',
 '4',
 'p',
 't',
 'g',
 'h',
 'f',
 'g',
 'l',
 'j',
 's',
 'q',
 'e',
 'a',
 'a',
 'n',
 'b',
 'b',
 'a',
 '1',
 'n',
 'p',
 '4',
 'r',
 'q',
 'g',
 '0',
 'b',
 '6',
 'j',
 'a',
 'd',
 '2',
 '1',
 '2',
 '1',
 'm',
 'a',
 's',
 '3',
 'g',
 'k',
 'g',
 'c',
 'b',
 's',
 'g',
 'b',
 'f',
 't',
 'a',
 'b',
 'a',
 '1',
 '1',
 'l',
 'q',
 'b',
 'a',
 'p',
 'p',
 'o',
 'x',
 'd',
 'b',
 'p',
 'f',
 'g',
 '7',
 'v',
 'p',
 't',
 '1',
 'h',
 's',
 'l',
 'a',
 '0',
 'p',
 '0',
 'w',
 'p',
 'b',
 'c',
 's',
 'h',
 'd',
 'w',
 'l',
 's',
 't',
 'r',
 'b',
 'p',
 't',
 'w',
 't',
 'n',
 'd',
 'd',
 't',
 'r',
 'm',
 'g',
 'c',
 'b',
 't',
 'f',
 'n',
 'm',
 'a',
 'l',
 's',
 'b',
 'c',
 'p',
 'c',
 'b',
 'l',
 'c',
 'b',
 'd',
 'b',
 '1',
 'd',
 'f',
 '1',
 's',
 'l',
 'g',
 'e',
 'f',
 '1',
 'l',
 'e',
 'b',
 'n',
 'f',
 's',
 's',
 'l',
 'g',
 'd',
 'c',
 'a',
 's',
 'b',
 'p',
 'm',
 'm',
 'c',
 'q',
 'p',
 'a',
 's',
 'b',
 'p',
 'g',
 '5',
 's',
 'm',
 'm',
 'd',
 'm',
 'c',
 'c',
 'y',
 'f',
 'm',
 's',
 'p',
 'm',
 'g',
 'c',
 'v',
 'l',
 'a',
 'a',
 'c',
 'k',
 's',
 's',
 'c',
 '1',
 'k',
 's',
 'r',
 'o',
 's',
 'h',
 '0',
 'q',
 'p',
 'b',
 's',
 'e',
 '1',
 's',
 'p',
 'b',
 '1',
 's',
 'b',
 '1',
 'm',
 'b',
 '1',
 'q',
 'd',
 'h',
 'c',
 'b',
 'd',
 'v',
 'd',
 'a',
 'e',
 'b',
 'g',
 'h',
 's',
 'f',
 'f',
 '0',
 'h',
 'g',
 'v',
 's',
 'b',
 'm',
 'f',
 'a',
 '1',
 't',
 'j',
 'j',
 'c',
 'b',
 '1',
 'r',
 'h',
 'b',
 'c',
 '4',
 'w',
 's',
 'e',
 'b',
 '1',
 'o',
 'g',
 's',
 'p',
 '1',
 'm',
 's',
 'w',
 's',
 'd',
 'c',
 '2',
 'k',
 'p',
 'h',
 'b',
 'm',
 '1',
 'r',
 'f',
 'q',
 'p',
 'p',
 'a',
 '1',
 't',
 'm',
 'b',
 'a',
 'p',
 'm',
 'a',
 's',
 'l',
 'l',
 'd',
 '3',
 'a',
 '1',
 'r',
 's',
 's',
 's',
 'e',
 '1',
 't',
 'o',
 'n',
 '1',
 'g',
 'c',
 'a',
 'v',
 'U',
 's',
 'q',
 'c',
 'f',
 'f',
 'd',
 'd',
 '1',
 'l',
 'k',
 'k',
 'v',
 's',
 's',
 'p',
 'm',
 'l',
 's',
 's',
 'n',
 'm',
 'v',
 's',
 's',
 'k',
 'a',
 'm',
 '1',
 '0',
 'q',
 'h',
 'a',
 '1',
 'v',
 's',
 'r',
 'l',
 'a',
 '9',
 '4',
 's',
 'p',
 'm',
 'b',
 'p',
 'h',
 'r',
 'h',
 'f',
 'b',
 'a',
 'a',
 'h',
 'r',
 'j',
 'c',
 '5',
 '1',
 'z',
 's',
 'p',
 'n',
 'c',
 'r',
 'i',
 'a',
 '5',
 'g',
 'c',
 'r',
 'k',
 'b',
 '7',
 'v',
 'm',
 'f',
 'w',
 'f',
 'd',
 'b',
 'b',
 '1',
 '0',
 's',
 'o',
 'h',
 'd',
 'b',
 'b',
 's',
 'n',
 'm',
 'j',
 'i',
 'f',
 'f',
 '9',
 '7',
 'P',
 'h',
 'd',
 'c',
 '1',
 'j',
 'h',
 'd',
 'b',
 't',
 's',
 'm',
 'j',
 'd',
 'c',
 'p',
 'k',
 '2',
 'm',
 'e',
 't',
 'a',
 'r',
 'p',
 'p',
 's',
 'n',
 'c',
 '1',
 'w',
 't',
 'n',
 'm',
 'i',
 'a',
 's',
 'm',
 'h',
 'b',
 'z',
 'a',
 'v',
 'b',
 'r',
 'k',
 'f',
 'd',
 'a',
 '6',
 '9',
 's',
 's',
 'l',
 'c',
 '8',
 's',
 'm',
 'j',
 'c',
 '1',
 'z',
 'y',
 'w',
 'w',
 'h',
 'e',
 'p',
 'p',
 'f',
 'e',
 'b',
 '1',
 'r',
 'p',
 'g',
 's',
 's',
 'j',
 'e',
 's',
 's',
 'p',
 'e',
 'b',
 '8',
 'v',
 'v',
 'p',
 'p',
 'a',
 '1',
 'm',
 'a',
 'v',
 't',
 'c',
 'g',
 'f',
 'w',
 'm',
 'k',
 'i',
 'h',
 'b',
 'a',
 'p',
 'd',
 'r',
 'm',
 '7',
 '1',
 'd',
 'b',
 'a',
 '1',
 's',
 's',
 'r',
 'e',
 'c',
 's',
 '1',
 'l',
 'f',
 'd',
 't',
 'm',
 'l',
 'h',
 'h',
 'a',
 'n',
 'c',
 'c',
 'b',
 'w',
 'p',
 '1',
 't',
 'm',
 '1',
 '1',
 'x',
 'w',
 't',
 '4',
 '1',
 'v',
 's',
 '1',
 'g',
 'b',
 'n',
 'm',
 'd',
 'a',
 'a',
 '1',
 'v',
 'r',
 'q',
 'm',
 'e',
 'b',
 'a',
 'w',
 's',
 'p',
 'l',
 's',
 's',
 'e',
 'd',
 'c',
 'r',
 '1',
 'h',
 '1',
 'w',
 'a',
 'a',
 'z',
 'c',
 'h',
 'e',
 'b',
 '1',
 '0',
 'w',
 'p',
 'f',
 ...]

In [134]:
a = Counter(startLetters)

In [193]:
viz5 = list(dict(sorted(a.items(), key=lambda item: item[1])).items())

In [146]:
bn = df

In [151]:
bn_len = bn['length'].sum() / 10000

In [152]:
bn_len

6.6513

In [154]:
bn_letters = bn['num_chars'].sum() / 10000

In [157]:
bn_num = bn['num_digits'].sum() / 10000

In [160]:
bn_up = bn['num_upper'].sum() / 10000

In [163]:
bn_sp = bn['num_special'].sum() / 10000

In [164]:
bn_sp

0.0034

In [165]:
bn[bn['num_special'] > 0]

,password,length,num_chars,num_digits,num_upper,num_lower,num_special,num_vowels,num_syllables
2154,0.0.000,7,0,5,0,0,2,0,1
2537,fuck_inside,11,10,0,0,10,1,4,3
3332,0.0.0.000,9,0,6,0,0,3,0,1
4517,f**k,4,2,0,0,2,2,0,1
4745,*****,5,0,0,0,0,5,0,0
5478,??????,6,0,0,0,0,6,0,0
6775,sasha_007,9,5,3,0,5,1,2,1
6896,w_pass,6,5,0,0,5,1,1,1
7020,******,6,0,0,0,0,6,0,0
7524,k.lvbkf,7,6,0,0,6,1,0,1
8332,?????,5,0,0,0,0,5,0,0
9531,1234567890-,11,0,10,0,0,1,0,1

In [167]:
viz1

       password  length
4745      *****       5
7020     ******       6
3332  0.0.0.000       9
2154    0.0.000       7
190        0000       4
...         ...     ...
2914       zzzz       4
3279      zzzzz       5
355      zzzzzz       6
5548    zzzzzzz       7
1855   zzzzzzzz       8

[10000 rows x 2 columns]

In [168]:
viz1.to_csv(r'letters_used_alphabetical.csv', index = False)

In [172]:
Viz2.count(True)

486

In [174]:
viz2data = [['true',Viz2.count(True)],['false',Viz2.count(False)]]

In [175]:
viz2df = pd.DataFrame(viz2data, columns = ['contains_seq', 'amount'])

In [177]:
viz2df.to_csv(r'pw_contains_numseq.csv', index = False)

In [182]:
viz3data = [['total_chars',num_chars_total],['total_nums',num_digits_total]]

In [183]:
viz3df = pd.DataFrame(viz3data, columns = ['description', 'amount'])

In [184]:
viz3df

   description  amount
0  total_chars   50303
1   total_nums   16176

In [185]:
viz3df.to_csv(r'pw_totals_num_chars.csv', index = False)

In [189]:
viz4data = [['a',ac],
['e',ec],
['i',ic],
['o',oc],
['u',uc],
['y',yc]]

In [190]:
viz4df = pd.DataFrame(viz4data, columns = ['letter', 'amount'])

In [192]:
viz4df.to_csv(r'vowel_counts.csv', index = False)

In [195]:
len(viz5)

59

In [198]:
viz5[-1]

('s', 908)

In [202]:
viz5data = []
for i in range(10):
    viz5data.append(viz5[-(1+i)])

In [204]:
viz5df = pd.DataFrame(viz5data, columns = ['letter', 'amount'])

In [206]:
viz5df.to_csv(r'starting_letter_counts.csv', index = False)

In [208]:
bn_data = [['average length',bn_len],
['average letters',bn_letters],
['average numbers',bn_num],
['average upper case',bn_up],
['average special chars',bn_sp]]

In [209]:
bndf = pd.DataFrame(bn_data, columns = ['description', 'average'])

In [211]:
bndf.to_csv(r'bignum_averages.csv', index = False)